#introduction-section {
    width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
}

#website-title {
    font-family: "Righteous", sans-serif;
    font-size: 13vh;
    font-weight: 800;
    text-align: center;
}

#website-subtitle {
    text-align: center;
}

#server-status {
    width: 100%;
    justify-content: end;
    text-align: end;
    font-size: 90%;
    opacity: 70%;
    display: flex;
}

#why-website {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.why-website-list{
    padding: 2%;
    margin: 0;
    min-width: max-content;
    list-style: none;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.why-website-list * {
    color: var(--background-color);
}

.why-website-heading {
    font-weight: lighter;
    font-size: 115%;
}

#why-radar {
    background-color: var(--success-color);
}

#why-not-chatgpt {
    background-color: var(--soft-warning-color);
}

#what-you-get {
    background-color: var(--button-color);
}

#introduction-section-footnote {
    width: 100%;
    font-size: 75%;
    display: flex;
    justify-content: end;
}