#additional-msg-section {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 20px;
    padding: 1.3%;
}

#additional-msg {
    text-align: justify;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5%;
    margin: 1.5%;
}

#additional-msg-context {
    border-radius: 20px;
    padding: 1.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
}

#gen-additional-msg {
    width: 100%;
}

#additional-msg-characters-count {
    display: flex;
    justify-content: flex-end;
    opacity: 70%;
    font-size: 70%;
}