#resume-section {
    display: flex;
    justify-content: center;
}

#resume-basic-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

#resume-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#resume-subheader {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
}

#resume-redirect {
    padding: 1.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    #resume-section {
        display: block;
    }

    #resume-preview {
        display: none;
    }
}

@media (max-width: 500px) {
    #resume-action-buttons {
        flex-direction: column;
    }

    #resume-action-buttons button {
        margin: 2%;
    }
}

#resume-upload-section {
    flex: 1;
}

#resume-operations-section {
    flex: 2;
}

#resume-action-buttons {
    display: flex;
    justify-content: space-evenly;
}

#resume-basic-actions div{
    display: flex;
    justify-content: space-evenly;
}

#resume-summary {
    text-align: justify;
}

#resume-preview {
    border: 2px solid black;
    margin-top: 4%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

#resume-improvements {
    text-align: justify;
    margin-top: 2%;
    padding: 2%;
}

#resume-improvements ul {
    list-style: none;
    padding: 1% 1.5%;
    font-weight: 350;
}

#resume-additions, #resume-modifications, #resume-deletions {
    /* glass effect */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.9px);
}

/* #resume-improvements * {
    text-align: justify;
    margin: 0.5%;
    padding: 0.5% 1.5%;
    color: var(--background-color);
    font-size: 95%;
} */

.resume-improvement-heading {
    color: var(--background-color);
    padding: 0.5% 1.5%;
    font-size: 110%;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

#resume-additions .resume-improvement-heading{
    background-color: var(--success-color);
}

#resume-modifications .resume-improvement-heading{
    background-color: var(--hard-warning-color);
}

#resume-deletions .resume-improvement-heading{
    background-color: var(--error-color);
}