#resume-section {
    display: flex;
    justify-content: center;
}

#resume-basic-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    #resume-section {
        display: block;
    }

    #resume-preview {
        display: none;
    }
}

@media (max-width: 500px) {
    #resume-action-buttons {
        flex-direction: column;
    }

    #resume-action-buttons button {
        margin: 2%;
    }
}

#resume-upload-section {
    flex: 1;
}

#resume-operations-section {
    flex: 2;
}

#resume-action-buttons {
    display: flex;
    justify-content: space-evenly;
}

#resume-basic-actions div{
    display: flex;
    justify-content: space-evenly;
}

#resume-summary {
    text-align: justify;
}

#resume-preview {
    border: 2px solid black;
    margin-top: 4%;
}

#resume-improvements {
    text-align: justify;
}