#website-title {
    font-family: "Righteous", sans-serif;
    font-size: 13vh;
    font-weight: 800;
    text-align: center;
}

#website-subtitle {
    text-align: center;
}

#server-status {
    text-align: end;
    font-size: 90%;
    opacity: 70%;
}