#company-section {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 10px;
}

#company-section-header {
    display: flex;
    flex-wrap: wrap;
}

#company-section-header-title {
    flex: 1;
    display: flex;
    align-items: center;
}

#company-section-header-buttons {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#check-salaries, #check-company, #get-company-values {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
    margin: 3px;
}

#company-section-header-buttons a {
    text-decoration: none;
    color: var(--button-text-color);
}