#resume-section {
    display: flex;
    justify-content: center;
}

#resume-upload-section {
    flex: 1;
}

#resume-operations-section {
    flex: 2;
}

#resume-action-buttons {
    display: flex;
    justify-content: space-evenly;
}

#resume-upload-button {
    display: flex;
    justify-content: center;
}

#resume-summary {
    text-align: justify;
    padding: 2%;
}

#resume-preview {
    border: 2px solid black;
}

#resume-improvements {
    text-align: justify;
    padding-left: 0;
    margin: 2%;
}