#job-section {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
}

#jd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1% 0;
}

#jd-within-header-title {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    #jd-header {
        display: block;
    }
    #jd-within-header-title {
        display: flex;
        width: 100%;
        margin: 1% 0;
    }
}

#jd-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* #jd-within-header {
    display: flex;
    flex: 5;
    align-items: center;
    justify-content: space-between;
    margin: 1% 3%;
} */

.resume-alignment-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 20px;
    padding: 0 5%;
}

.alignment-score {
    font-size: xx-large;
    text-shadow: 2px 2px 0 lightgrey;
}

.A {
    color: green;
}

.B {
    color: orange;
}

.C {
    color: yellow;
}

.D {
    color: red;
}

.F {
    color: black;
}

#jd-subheader {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#jd-team-name, #jd-salary-bracket, #jd-experience-level, #jd-sponsorship, #jd-location {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: max-content;
    max-height: max-content;
    display: flex;
    align-items: center;
}

#jd-benefits {
    padding: 1%;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#jd-keywords-section {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.jd-keyword {
    padding: 5px;
    margin: 5px;
    /* font-weight: bold; */
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: max-content;
    max-height: max-content;
}

.keyword-present {
    background-color: green;
    color: white;
}