#search-company {
    width: 100%;
    padding: 1.3%;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    border-radius: 20px;
}

.apply-category {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 3% 1%;
}

@media (max-width: 1200px) {
    .apply-category {
        display: block;
    }
}

.category-name {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5vh;
}

.company-list {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
    align-items: center;
}

.apply-button {
    padding: 5px;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    /* border: 2px solid lightblue; */
    border-radius: 10px;
    margin: 5px;
    max-width: min-content;
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}

.apply-button:hover {
    transform: translateY(-5px);
}

.company-logo {
    height: 50px;
    border-radius: 50%;
    /* width: 50px; */
}