.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: "5%"; */
}

.error-message {
    color: var(--error-color);
    opacity: 0.7;
}

.error-footnote {
    color: var(--text-color);
    opacity: 0.7;
}