#jd-input {
    border-radius: 20px;
    padding: 1.3%;
}

#jd-preview {
    text-align: justify;
}

#jd-section {
    display: flex;
    flex-direction: column;
}

#jd-keywords-section {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.jd-keyword {
    padding: 5px;
    margin: 5px;
    /* font-weight: bold; */
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: max-content;
    max-height: max-content;
}

#jd-keywords-footnote {
    font-size: 80%;
    opacity: 70%;
    text-align: end;
}

.keyword-present {
    background-color: green;
    color: white;
}