body {
    margin: 5%;
    font-family: "Kanit", sans-serif;
}

#jd-preview, #cover-letter {
    text-align: justify;
}

#jd-section {
    display: flex;
    flex-direction: column;
}

#jd-keywords-section {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.jd-keyword {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    max-width: max-content;
    max-height: max-content;
}