:root {
    --background-color: #FFFFE5;
    --text-color: #2E1F27;
    --button-color: #9EB7E5;
    --button-text-color: #0A100D;
    --soft-warning-color: #FF9F1C;
    --hard-warning-color: #D19C1D;
    --error-color: #C03221;
    --success-color: #1C7C54;
    --font: "Kanit", sans-serif;
    --heading-font: "Righteous", sans-serif;
    --border-radius: 20px;
    --button-border-radius: 15px;
}

* {
    font-family: var(--font);
    color: var(--text-color);
}

button {
    border: none;
    border-radius: var(--button-border-radius);
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

body {
    margin: 3%;
    background-color: var(--background-color);
}

.section-heading {
    text-align: "center";
    /* font-family: "Righteous"; */
}

.section-footnote {
    opacity: 70%;
    text-align: end;
}

/* related to tabs styling */

.react-tabs__tab-list {
    margin: 10px 0;
    padding: 10px 0;
    border-radius: var(--border-radius);
}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: lighter;
}

.react-tabs__tab--selected {
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1) inset;
    font-weight: normal;
    font-size: large;
}

.react-tabs__tab--disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: line-through;
}