#jd-input {
    border-radius: var(--border-radius);
    padding: 1% 2%;
    scrollbar-width: thin;
    overflow-y: scroll;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1) inset;
}

#jd-preview {
    text-align: justify;
}

#jd-section {
    display: flex;
    flex-direction: column;
}

#jd-process-button {
    align-self: center;
    width: max-content;
}