#history-section {
    min-height: 30vh;
}

.history-job-details {
    width: 100%;
    max-width: 90vw;
    border-radius: var(--border-radius);
    padding: 15px;
    color: var(--background-color);
    max-height: 50vh;
    overflow-y: auto;
}

.history-job-details-header {
    display: flex;
    justify-content: space-between;
}

.history-job-details-within-header {
    flex: 5;
    display: flex;
    align-items: center;
}

.remove-history-job {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.remove-history-job h3 {
    color: var(--error-color);
}

.history-job-details-status {
    flex: 1;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: center;
    align-items: center;
}
.history-job-details-status * {
   color: var(--background-color);
}

.history-job-title {
    font-size: 120%;
    font-weight: bolder;
}

.history-job-team {
    font-size: 110%;
}

.history-job-company {
    font-size: 90%;
    font-weight: lighter;
}

/* Timeline CSS Start */

.hoplist-container {
    max-width: 100%;
}

.hoplist-scroll-container {
    width: 100%;
    overflow-x: auto;
}

.hoplist-icon {
    z-index: 0;
}

/* Timeline CSS End */

.history-job-details-subheader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.history-job-details-keywords > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}